Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
*.o
*.exe
*.zip
*~
*.tar.gz
intltool-extract.in
intltool-merge.in
intltool-update.in
INSTALL
Specfile
.anjuta/
.anjuta_sym_db.db
minstack.pc
Debug/
specs.c
*.orig
*.rej
*.kdev4
*.lo
*.la
*.swp
.deps
.libs
test/mini_rtsp_client
test/mini_rtsp_server
test/minstack_tcp_client_load_test
test/minstack_tcp_client_multiple_test
test/minstack_tcp_client_send
test/minstack_tcp_client_test
test/minstack_tcp_server_level
test/minstack_tcp_server_load_test
test/minstack_tcp_server_test
test/minstack_udp_client_load_test
test/minstack_udp_client_multiple_test
test/minstack_udp_client_test
test/minstack_udp_proxy
test/minstack_udp_server_level
test/minstack_udp_server_load_test
test/minstack_udp_server_test
test/test_tools

